<p>day3 works!</p>

<h1>Condition statements</h1>
<h3>1.if</h3>

@if(is_visible)
{
    <p>This is visible</p>
}
@else{
    <p>This is not visible</p>
}
<h1>Control statements</h1>
<h4>1. IF</h4>

@if(time < 12)
{
    <p>Good morning</p>

}
@else if(time >= 12 && time < 17)
{
    <p> Good afternoon</p>

}

@else
{
    <p> Good evening</p>

}

<br>
<br>
<h2> For</h2>
<br>

<ol>
    @for (place of places;track $index)
    {
        <li>{{place}}</li>
    }
</ol>

<br>
<br>

<table>
    <thead>
        <tr>
            <th>index</th>
            <th>Student name</th>
            <th>Age</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        @for (s of students ; track s.id )
        {
            <tr>
                <td>{{$index+1 }} </td>
                <td> {{s.name}} </td>
                <td> {{s.age}} </td>
                <td>{{s.grade}}</td>
                <td>{{s.e}}</td>
            </tr>
        }
    </tbody>
</table>
